In [2]:
# Import pandas 
import pandas as pd
pd.set_option("display.max_columns",5)
# Baca kedua dataset
df_kunjungan = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/kunjungan_dokter_gigi_kota_x_dqlab.tsv", sep="\t")
df_penjualan = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/tingkat_penjualan_kota_x_dqlab.tsv", sep="\t")
# Gabungkan kolom Tahun dan Bulan menjadi kolom Periode dengan isi tiap barisnya memiliki format YYYY-MM 
str_bulan = lambda x: "0"+str(x) if x<10 else str(x)
df_kunjungan["Periode"] = df_kunjungan["Tahun"].map(str) + "-" + df_kunjungan["Bulan"].map(str_bulan)
df_penjualan["Periode"] = df_penjualan["Tahun"].map(str) + "-" + df_penjualan["Bulan"].map(str_bulan)
# Drop kolom Tahun, Bulan dari df_kunjungan
df_kunjungan.drop(columns=["Tahun", "Bulan"], inplace=True)
# Drop kolom Tahun, Bulan dan No dari df_penjualan
df_penjualan.drop(columns=["Tahun", "Bulan", "No"], inplace=True)

# Set index kolom Periode
df_kunjungan.set_index("Periode", inplace=True)
df_penjualan.set_index("Periode", inplace=True)

# Gabungkan kedua dataframe dengan Periode yang telah menjadi key column nya
df = df_kunjungan.join(df_penjualan)
print("Ukuran df:", df.shape)
print(df)

Ukuran df: (24, 4)
         tingkat kunjungan ke dokter gigi  penjualan permen  penjualan sereal  \
Periode
1996-01                                37            200661             10324
1996-02                                32            297141             13150
1996-03                                56            235586              5398
1996-04                                43            299498              7609
1996-05                                52            395824              5190
1996-06                                70            247212             14571
1996-07                                64            273899             13407
1996-08                                88            184405              8914
1996-09                                74            141211              3663
1996-10                                98            292225             14756
1996-11                                80            227864              3883
1996-12                                46            259963              5720
1997-01                                66            433783             16209
1997-02                                78            343034              5955
1997-03                                46            419255             14789
1997-04                                62            393175             11150
1997-05                               124            304954              4930
1997-06                               106            439380             15041
1997-07                               110            270706             14210
1997-08                                98            319472              5002
1997-09                                76            262688              3172
1997-10                               132            322140              9818
1997-11                                82            467572             13545
1997-12                                84            431484              2372

         penjualan buah pisang
Periode
1996-01                 112146
1996-02                 175417
1996-03                 104645
1996-04                 112283
1996-05                 137083
1996-06                 198130
1996-07                 194685
1996-08                 100091
1996-09                 194972
1996-10                 133166
1996-11                 155598
1996-12                 104563
1997-01                 104216
1997-02                 142908
1997-03                 135994
1997-04                 154659
1997-05                 122983
1997-06                 104657
1997-07                 163008
1997-08                 149116
1997-09                 144727
1997-10                 148500
1997-11                 120676
1997-12                 162135