<h1> variabel in collection</h1>

In [17]:
fruits = ["apel","pisang","melon","nanas"]
for fruit in fruits:
    print(f"nama buah : {fruit}")

nama buah : apel
nama buah : pisang
nama buah : melon
nama buah : nanas

In [21]:
nilaiPython = [80,100,90,70,70,50,40]
total = 0
for nilai in nilaiPython:
    total += nilai
rata_rata = total / len(nilaiPython)
print(f"Nilai Rata rata : {rata_rata}")

Nilai Rata rata : 71.42857142857143

<h1>enumerate</h1>

In [26]:
month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Okt","Nov","Des"]
for i, m in enumerate(month):
    print(f"{i}:{m}")

0:Jan
1:Feb
2:Mar
3:Apr
4:May
5:Jun
6:Jul
7:Aug
8:Sep
9:Okt
10:Nov
11:Des

In [ ]:
Nama = input("Nama Anda")
listVokal = ["a","i","u","e","o"]
isVokal =""
total = 0

for karekter in Nama:
    if karekter in listVokal:
        total += 1
        isVokal = "Huruf Vokal"
    else:
        isVokal = "Bukan huruf Vokal"
    print(f"{karekter} adalah {isVokal}|Total:{total}")
print(f"Jumlah Total huruf Vokal : {total}")

<h1>Looping List Comprehension</h1>

In [45]:
data = [1,2,3,4,5]
pangkat = [t**2 for t in data]
print(pangkat)

[1, 4, 9, 16, 25]

<h1> Range</h1>

In [48]:
for i in range(10):
    print(f"Nilai i adalah:{i}")

Nilai i adalah:0
Nilai i adalah:1
Nilai i adalah:2
Nilai i adalah:3
Nilai i adalah:4
Nilai i adalah:5
Nilai i adalah:6
Nilai i adalah:7
Nilai i adalah:8
Nilai i adalah:9

In [54]:
for i in range(5,10):
    print(f"nilai i : {i}")

nilai i : 5
nilai i : 6
nilai i : 7
nilai i : 8
nilai i : 9

In [58]:
#Cek bilangan prima dan bukan prima

number = int(input("Isikan Bilangan:"))
faktor =0
for i in range(1,number+1):
    if number % i == 0:
        faktor += 1
if faktor == 2:
    print(f"{number} ini adalah bilangan prima")
else:
    print(f"{number} ini bukan bilangan prima")

Isikan Bilangan: 7

7 ini adalah bilangan prima

In [60]:
# Faktorial
# 3! = 3 * 2 * 1 = 6

total = 1
number = int(input("bilanga"))
for i in range(1,number+1):
    total *= i
print(f"{number}i = {total}")

bilanga 4

4i = 24

In [72]:
# 1 -2 3 -4 5 -6 7 -8 9 -10

number = int(input("isikan bilangan"))
sign = 1
for i in range(1,number+1):
    result = sign * i
    print(f"{result} ", end="")
    sign *= -1

isikan bilangan 10

1 -2 3 -4 5 -6 7 -8 9 -10

In [76]:
kursiBioskop = ["L","P","P","L","L","P","L"]

# hitung jumlah kursi laki"
# hitung jumlah kursi perampuan

totalLaki = 0
for jenis in kursiBioskop:
    if jenis=="L":
        totalLaki +=1

print(f"Jumlah penonton laki laki: {totalLaki}")
print(f"Jumlah penonton perempuan: {len(kursiBioskop)-(totalLaki)}")

Jumlah penonton laki laki: 4
Jumlah penonton perempuan: 3

In [82]:
# hitung jumlah orang yang kemungkinan berpasangan

kursi = ["L","P","P","L","L","P","L"]
totalCouple = 0
for i in range(len(kursi)-1):
    if kursi[i] != kursi[i+1]:
        totalCouple += 1

print(totalCouple)

4

In [86]:
data = {
    "Iname" : "Syahrizal",
    "Gname" : "Hamdala"
}
for key,value in data.items():
    print(f"{key} :{value}")

Iname :Syahrizal
Gname :Hamdala