In [ ]:
### mahasiswa_list = []

def tambah_mahasiswa():
    try:
        nim = input("Masukkan NIM (11 digit): ")
        if len(nim) != 11 or not nim.isdigit():
            raise ValueError("NIM harus terdiri dari 11 digit angka.")

        nama = input("Masukkan Nama (minimal 6 karakter): ")
        if len(nama) < 6:
            raise ValueError("Nama harus minimal 6 karakter.")

        alamat = input("Masukkan Alamat (minimal 10 karakter): ")
        if len(alamat) < 10:
            raise ValueError("Alamat harus minimal 10 karakter.")

        kelas = input("Masukkan Kelas (TI23 atau TI24): ").upper()
        if kelas not in ['TI23', 'TI24']:
            raise ValueError("Kelas hanya boleh 'TI23' atau 'TI24'.")

        mahasiswa = {
            'NIM': nim,
            'Nama': nama,
            'Alamat': alamat,
            'Kelas': kelas
        }

        mahasiswa_list.append(mahasiswa)
        print("Data mahasiswa berhasil ditambahkan!\n")

    except ValueError as arr:
        print(f"Input tidak valid: {e}\n")

def tampilkan_data():
    if not mahasiswa_list:
        print("Belum ada data mahasiswa.\n")
        return

    print("\nDaftar Mahasiswa:")
    for idx, mhs in enumerate(mahasiswa_list, start=1):
        print(f"{idx}. NIM: {mhs['NIM']} | Nama: {mhs['Nama']} | Alamat: {mhs['Alamat']} | Kelas: {mhs['Kelas']}")
    print()

def menu():
    while True:
        print("=== MENU DATA MAHASISWA ===")
        print("1. Tambah Data Mahasiswa")
        print("2. Tampilkan Data Mahasiswa")
        print("3. Keluar")

        pilihan = input("Pilih menu (1/2/3): ")

        if pilihan == '1':
            tambah_mahasiswa()
        elif pilihan == '2':
            tampilkan_data()
        elif pilihan == '3':
            print("Terima kasih!")
            break
        else:
            print("Pilihan tidak valid. Silakan pilih 1, 2, atau 3.\n")


menu()

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  2

Daftar Mahasiswa:
1. NIM: 12345678910 | Nama: rahmati | Alamat: cibolang kelar | Kelas: TI24
2. NIM: 55555555555 | Nama: raisana | Alamat: kota sukabumi | Kelas: TI23

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  1
Masukkan NIM (11 digit):  43434343

Input tidak valid: NIM harus terdiri dari 11 digit angka.

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  1
Masukkan NIM (11 digit):  12032143567
Masukkan Nama (minimal 6 karakter):  arul

Input tidak valid: Nama harus minimal 6 karakter.

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar

Pilih menu (1/2/3):  1
Masukkan NIM (11 digit):  20240040048
Masukkan Nama (minimal 6 karakter):  raissa
Masukkan Alamat (minimal 10 karakter):  kabupaten sukabumi
Masukkan Kelas (TI23 atau TI24):  TI24

Data mahasiswa berhasil ditambahkan!

=== MENU DATA MAHASISWA ===
1. Tambah Data Mahasiswa
2. Tampilkan Data Mahasiswa
3. Keluar