In [5]:
name="syahrizal"
age = 20
address,province = "Jl.Cibolang","7413412"
pythonScore = 90.8
isMarried = False

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Provinsi :",province)
print("Nilai Pemograman :",pythonScore)
print("Status Meni :",isMarried)

Nama : syahrizal
Umur : 20
Alamat : Jl.Cibolang
Provinsi : 7413412
Nilai Pemograman : 90.8
Status Meni : False

In [16]:
print("Tipe Data (nama):",type(name))
print("Tipe Data (age):",type(age))
print("Tipe Data (address):",type(address))
print("Tipe Data (province):",type(province))
print("Tipe Data (pythonScore):",type(pythonScore))
print("Tipe Data (isMarried):",type(isMarried))

Tipe Data (nama): <class 'str'>
Tipe Data (age): <class 'int'>
Tipe Data (address): <class 'str'>
Tipe Data (province): <class 'str'>
Tipe Data (pythonScore): <class 'float'>
Tipe Data (isMarried): <class 'bool'>

In [24]:
#Casting atau Konversi Tipa Data

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)

print(strToInt,strToFloat,strToBool)

7413412 7413412.0 True

In [28]:
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool)

20 20.0 True

In [7]:
floatToStr = str(pythonScore)
floatToInt = int(pythonScore)
floatToBool= bool(pythonScore)
print(floatToStr,floatToInt,floatToBool)

90.8 90 True

In [9]:
boolToStr = str(isMarried)
boolToInt = int(isMarried)
boolToBool = bool(isMarried)
print(boolToStr,boolToInt,boolToBool)

False 0 False

In [11]:
#String adalah kumpulan dari beberapa karakter dan immutable
city = "kolaka utara"
panjang = len(city)
print(city[0])
print(city[panjang-1])

k
a

In [35]:
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Nilai desimal:",desimal)
print("Nilai biner:",biner)
print("Nilai octal:",octal)
print("Nilai hexa:",hexa)



print("Biner dari ",desimal,":",bin(desimal))
print("Octal dari ",desimal,":",oct(desimal))
print("Hexadesimal dari ",desimal,":",hex(desimal))

Nilai desimal: 500
Nilai biner: 10
Nilai octal: 255
Nilai hexa: 255
Biner dari  500 : 0b111110100
Octal dari  500 : 0o764
Hexadesimal dari  500 : 0x1f4

In [63]:
#Tipe Data Collection
#LIST
cities = ["Sukabumi","Malang","Surabaya","Kendari"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1]= "Jakarta" 
print(cities)

#TUPLE

hobbies = ("Futsal","Badminton","Golf")
print(hobbies)
print(hobbies[0])
print(hobbies)
# tuple tidak bisa di ubah"

#DICTIONARY

studentData = {
    "name" : "Aril",
    "age"  : "20",
    "address" :{
        "street" : "Jl.Cibolang",
        "number" : 24,
        "province" : "Kab. Sukabumi"
    }
    
}

studentList = [
  {
    "name" : "baco",
    "age"  : "24",
    "address" :{
        "street" : "Jl.pondok",
        "number" : 59,
        "province" : "Kab. kolaka"
  }
  },
     {
    "name" : "kaku",
    "age"  : "22",
    "address" :{
        "street" : "Jl.manja",
        "number" : 54,
        "province" : "Kab. bau bau"
  }
  }
]
print(studentData)
print(studentData["name"])
print(studentData["address"]["province"])
print(studentList)

['Sukabumi', 'Malang', 'Surabaya', 'Kendari']
Sukabumi
Kendari
['Sukabumi', 'Jakarta', 'Surabaya', 'Kendari']
('Futsal', 'Badminton', 'Golf')
Futsal
('Futsal', 'Badminton', 'Golf')
{'name': 'Aril', 'age': '20', 'address': {'street': 'Jl.Cibolang', 'number': 24, 'province': 'Kab. Sukabumi'}}
Aril
Kab. Sukabumi
[{'name': 'baco', 'age': '24', 'address': {'street': 'Jl.pondok', 'number': 59, 'province': 'Kab. kolaka'}}, {'name': 'kaku', 'age': '22', 'address': {'street': 'Jl.manja', 'number': 54, 'province': 'Kab. bau bau'}}]